.terminal {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.button {
    border: solid 1px #888;
    color: #555;
    background: #fff;
    padding: 6px;
    position: absolute;
    bottom: 100%;
    right: 0;
}

.container {
    padding: 8px;
    background: #000;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.opened .container {
    display: block;
}
