.terminal {
    position: absolute;
    bottom: 0;
    right: 0;
}
.button {
    padding: 8px;
    position: absolute;
    bottom: 100%;
    right: 0;
}

.container {
    padding: 8px;
    background: #000;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.opened .container {
    display: block;
}
