html, body{
    height: 100%;
    overflow: hidden;
}
#atto-app{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}
#atto-app-header {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 48px;
    display: flex;
    color: #fff;

    > .logo {
        width: 200px;
        line-height: 48px;
        font-size: 2rem;
        text-align: center;
    }
}
#atto-app-workspace {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}
#atto-app-sidebar {
    width: 240px;

    nav{
        margin: 40px 0 32px;

        ul{
            padding: 0;
            margin: 0;
            list-style: none;
        }
        li {
            position: relative;
        }
        a{
            display: block;
            padding: 8px 24px;
            font-size: 16px;
            text-decoration: none;
            transition: all 0.4s;
            outline: none;
            &:hover{
                background: #eee;
            }
        }
    }
}
#atto-app-content {
    flex: 1 1 auto;
    background: #eee;
}
#atto-user-nav {
    padding:0 8px;
    display: flex;
    align-items: center;
    a {
        color: #fff;
    }
    .user-name{
        margin: 0 8px;
    }
    .logout-btn{
        margin: 0 4px;
    }
}