#odss-dev-toolbar {
    position: fixed;
    display: flex;
    font: 16px/1em Helvetica Neue,Helvetica,Arial,sans-serif;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40px;
    color: #fff;
    user-select: none;
    background: rgba(0, 0, 0, 0.8);
    > .logo{
        padding: 0 8px;
        line-height: 40px;
    }
    .panel-list{
        padding:4px;

        .panel{
            padding: 8px;
            text-align: center;
            border: solid 1px transparent;
            cursor: pointer;
            &.active{
                border-color: #fff;
            }
        }
    }
}
