#atto-login{

}
#atto-label{
    color: #2196F3;
    font-size: 40px;
    position: absolute;
    top: -50px;
    left: 0;
    line-height: 50px;
    text-transform: uppercase;
    span{
        font-size: 0.7em;
    }
}
#atto-login-box {
    header{
        margin: 0 0 16px;
    }
    box-sizing: border-box;
    padding: 16px;
    position:absolute;
    top:50%;
    left:50%;
    width:400px;
    margin:-150px 0 0 -200px;

    background:#fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2),
                0 4px 4px rgba(0, 0, 0, 0.2);


    .error {
        float:left;
        color:#800;
        line-height: 34px;
    }
}