
@mixin s-btn-box-shadow() {
    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.10),
                0 2px 2px rgba(0, 0, 0, 0.20);
}

@mixin s-btn-box-shadow-active() {
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.10),
                1px 3px 4px rgba(0, 0, 0, 0.20);
}

.atto-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    display: inline-block;
    height: $btn-height;
    padding: 0 $btn-padding-horizontal;
    margin: $btn-margin-vertical 0;

    border: none;
    border-radius: $btn-border-radius;
    cursor: pointer;

    text-align: center;
    white-space: nowrap;
    line-height: $btn-height;
    vertical-align: middle;
    user-select: none;
    font-size: $btn-font-size;
    font-family: inherit;
    letter-spacing: 0.03em;

    position: relative;
    overflow: hidden;

    @include button-variant(
        $btn-default-font-color,
        $btn-default-bg-color);

    @include button-flat-variant(
        $btn-default-font-color,
        $btn-flat-bg-color-hover);


    &:hover,
    &:focus {
        @include s-btn-box-shadow();
    }

    &:active:hover {
        @include s-btn-box-shadow-active();
    }

    &:hover,
    &:focus,
    &:active {
        outline: 0;
        text-decoration: none;
        color: $btn-default-font-color;
    }

    &:disabled {
        cursor: $cursor-disabled;
        pointer-events: none;
        opacity: 0.60;
        box-shadow: none;
    }
}


.atto-btn--flat {
    background-color: $btn-flat-bg-color;

    &:hover,
    &:focus,
    &:active,
    &:active:hover {
        box-shadow: none;
        background-color: $btn-flat-bg-color-hover;
    }
}

.atto-btn--raised {
    @include s-btn-box-shadow();

    &:active {
      @include s-btn-box-shadow-active();
    }
  }

.atto-btn--primary {
    @include button-variant(
        $btn-primary-font-color,
        $btn-primary-bg-color);
    @include button-flat-variant(
        $btn-primary-bg-color,
        $btn-flat-bg-color-hover);
}

.atto-btn--dark {
    @include button-variant(
        $btn-dark-font-color,
        $btn-dark-bg-color);
    @include button-flat-variant(
        $btn-dark-bg-color,
        $btn-flat-bg-color-hover);
}

.atto-btn--danger {
    @include button-variant(
        $btn-danger-font-color,
        $btn-danger-bg-color);
    @include button-flat-variant(
        $btn-danger-bg-color,
        $btn-flat-bg-color-hover);
}
