.atto-dropdown {
    display: inline-block;
    position: relative;
}

[data-atto-toggle="dropdown"] {
    outline: 0;
}

.atto-dropdown__menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 160px;
  padding: 4px 0;
  margin: 0;
  list-style: none;
  text-align: left;
  background-color: $atto-dropdown-bg-color;
  border: solid 2px $atto-dropdown-border-color;
  border-radius: 0;
  z-index: 1;
  background-clip: padding-box;

  &.atto--is-open {
    display: block;
  }

  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: $base-line-height;
    color: $atto-dropdown-text-color;
    text-decoration: none;
    white-space: nowrap;

    // hover & focus state
    &:hover,
    &:focus {
      text-decoration: none;
      color: $atto-dropdown-text-color-hover;
      background-color: $atto-dropdown-text-bg-color-hover;
    }
  }

  > .atto--is-disabled > a {
    &,
    &:hover,
    &:focus {
      color: $atto-dropdown-text-color-disabled;
    }

    // nuke hover & focus effects
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none;
      cursor: $cursor-disabled;
    }
  }
}

.atto-dropdown__menu--right {
  left: auto;
  right: 0;
}

