$tmp-form-line-height: floor($form-label-font-size * 1.4);

.atto-form-text {
    display: block;
    padding-top: 16px;
    margin-bottom: 16px;
    position: relative;

    > label {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        color: $form-label-font-color;
        font-size: $form-label-font-size;
        font-weight: 400;
        line-height: $tmp-form-line-height;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    > textarea {
        padding: 8px 0 0;
    }

    > input,
    > textarea {
        box-sizing: border-box;
        display: block;
        background-color: $form-input-bg-color;
        color: $form-input-font-color;
        border: none;
        border-bottom: 1px solid $form-input-border-color;
        outline: none;
        width: 100%;
        padding: 0;
        box-shadow: none;
        border-radius: 0px;
        font-size: $form-input-font-size;
        font-family: inherit;
        line-height: inherit;

        &:focus {
            border-color: $form-input-border-color-focus;
            border-width: 2px;

            ~ label{
                color: $form-input-border-color-focus;
            }
        }

        &:disabled,
        &:read-only {
            cursor: $cursor-disabled;
            background-color: $form-input-bg-color-disabled;
        }

        &::placeholder {
            color: $form-input-placeholder-color;
        }
    }

    > input {
        height: $form-input-height;
        &:focus {
            // border on focus grow from 1px to 2px
            height: $form-input-height + 1px;
            margin-bottom: -1px;
        }
    }

    > textarea {
        height: $form-textarea-height;
        &:focus {
            // border on focus grow to 2px
            margin-bottom: -1px;
        }
    }

    input:invalid:not(:focus),
    textarea:invalid:not(:focus) {
        border-color: $danger-color;
        ~ label {
            color: $danger-color;
        }
    }
}

.atto-form{
    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0 0 8px;
        font-size: $form-legend-font-size;
        color: $form-legend-font-color;
        line-height: inherit;
        border: 0;
    }
    fieldset {
        border: 0;
        padding: 0;
        margin: 0 0 16px 0;
    }
}

.atto-form--inline {
    @media (min-width: $screen-sm-min) {
        .atto-form-text {
            display: inline-block;
            vertical-align: bottom;
            margin-bottom: 0;
        }

        .atto-radio,
        .atto-checkbox {
            display: inline-block;
            margin-top: 0;
            margin-bottom: 0;
            vertical-align: middle;

            > label {
                padding-left: 0;
            }
        }

        .atto-radio > label > input[type="radio"],
        .atto-checkbox > label > input[type="checkbox"] {
            position: relative;
            margin-left: 0;
        }
        .atto-select {
            display: inline-block;
            vertical-align: bottom;
            margin-bottom: 0;
        }
        .atto-btn {
            margin-bottom: 0;
            margin-top: 0;
            vertical-align: bottom;
        }
    }
}
