// ============================================================================
// COLORS
// ============================================================================

$primary-color:             color('blue', '500') !default;
$primary-color-dark:        color('blue', '700') !default;
$primary-color-light:       color('blue', '100') !default;

$danger-color: color('red', '500') !default;

// ============================================================================
// GLOBAL VARIABLES
// ============================================================================

$body-bg-color:              #fff !default;

$base-font-color:            #444 !default;
$base-font-family:           Arial, Verdana, Tahoma !default;
$base-font-size:             16px !default;
$base-font-weight:           400 !default;
$base-line-height:           1.429 !default;

$link-font-color:            $primary-color !default;
$link-text-decoration:       none !default;
$link-font-color-hover:      $primary-color-dark !default;
$link-text-decoration-hover: underline !default;

$cursor-disabled:            not-allowed !default;
$border-radius-default:      2px !default;

$base-line-height-computed:  floor(($base-font-size * $base-line-height));

$screen-sm-min: 544px !default;
$screen-md-min: 768px !default;
$screen-lg-min: 992px !default;
$screen-xl-min: 1200px !default;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: ($screen-xl-min - 1);

// ============================================================================
// BUTTONS
// ============================================================================

$btn-height:                 32px !default;
$btn-height-sm:              $btn-height * 0.8 !default;
$btn-height-lg:              $btn-height * 1.4 !default;

$btn-border-radius:          $border-radius-default !default;

$btn-padding-horizontal:     24px !default;
$btn-padding-horizontal-sm:  16px !default;
$btn-padding-horizontal-lg:  $btn-padding-horizontal !default;

$btn-font-size:              16px !default;
$btn-font-size-sm:           12px !default;
$btn-font-size-lg:           $btn-font-size !default;

$btn-margin-vertical:        8px !default;
$btn-spacing-horizontal:     8px !default;

$btn-default-bg-color:       #fff !default;
$btn-default-font-color:     $base-font-color !default;

$btn-primary-bg-color:       $primary-color !default;
$btn-primary-font-color:     #fff !default;

$btn-danger-bg-color:        $danger-color !default;
$btn-danger-font-color:      #fff !default;

$btn-dark-bg-color:          color('grey', '800') !default;
$btn-dark-font-color:        #fff !default;

$btn-flat-bg-color:          transparent !default;
$btn-flat-bg-color-hover:    darken(#fff, 8%) !default;

// ============================================================================
// FORMS
// ============================================================================

$form-legend-font-size: $base-font-size * 1.6 !default;
$form-legend-font-color: $base-font-color !default;
$form-label-font-size: 12px;
$form-label-font-color: rgba(0, 0, 0, 0.6) !default;
$form-input-height: 32px !default;
$form-input-bg-color: transparent !default;
$form-input-font-size: $base-font-size !default;
$form-input-font-color: $base-font-color !default;
$form-input-placeholder-color: rgba(0,0,0, 0.3) !default;
$form-input-border-color: $form-input-placeholder-color !default;
$form-input-border-color-focus: $primary-color !default;
$form-input-bg-color-disabled: transparent !default;

$form-textarea-height: 64px !default;



// ============================================================================
// DROPDOWNS
// ============================================================================

$atto-dropdown-bg-color:                 #fff !default;

$atto-dropdown-text-color:               $primary-color !default;
$atto-dropdown-text-color-hover:         #fff !default;
$atto-dropdown-text-color-disabled:      color('grey', '200') !default;
$atto-dropdown-text-bg-color-hover:      $primary-color !default;
$atto-dropdown-text-bg-color-active:     color('white') !default;

$atto-dropdown-border-color:             $primary-color !default;


$panel-padding: 16px;
$panel-border-radius: 0 !default;
$panel-bg-color: #fff;


$overlay-bg-color: rgba(0, 0, 0, 0.30) !default;

.atto-color-bg {
    color: #fff;
    background: $primary-color;
}
.atto-color-dark {
    background: $primary-color-dark;
}
.atto-color-light {
    background: $primary-color-light;
}
